
.line {
	display: inline-block;
	padding: 0 0 0 20px;
	margin: 0 0 0 30px;
}

.maxwidth{
	height: 100px;
	margin: 0 0 30px 20px:
}
   

.dline{
	display: inLine;
	margin: 0 0 0 30px;
}

.padding{
	display: block;
	max-width: 500px;
	margin: 30px 0 0 20px;
	padding: o 20px 0 20px;	
}